node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Tauri / Rust build cache — installers are copied to /dist-installers and committed separately
src-tauri/target
src-tauri/gen
